SERVER_ADDRESS=localhost:8080
BASE_URL=http://localhost:8080/
LOG_LEVEL=info
FILE_STORAGE_PATH=/tmp/shortener.txt

DATABASE_DSN=postgres://shorteneruser:shortenersecret@localhost:5432/shortener?sslmode=disable&pool_max_conns=10&pool_min_conns=1

POSTGRES_DB=shortener
POSTGRES_USER=shorteneruser
POSTGRES_PASSWORD=shortenersecret

SECRET_KEY=
